Repository GoogleCloudPlatform/rad-lab, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gps-demos, @guptamukul-google, @acolver, @agussman, @BrianReevz, @debakkerb, @hradhakrishnan

Updating UIMeta
  modules/genomics_nextflow/README.md
  modules/genomics_nextflow/variables.tf
Owners: @acolver, @agussman, @BrianReevz, @debakkerb, @guptamukul-google, @hradhakrishnan

Adding GenomicsNextflow Module (#93)
  docs/images/V1_Nextflow.png
  modules/genomics_nextflow/README.md
  modules/genomics_nextflow/budget.tf
  modules/genomics_nextflow/iam.tf
  modules/genomics_nextflow/main.tf
  modules/genomics_nextflow/network.tf
  modules/genomics_nextflow/nextflow-server.tf
  modules/genomics_nextflow/orgpolicy.tf
  modules/genomics_nextflow/outputs.tf
  modules/genomics_nextflow/provider-auth.tf
  modules/genomics_nextflow/scripts/build/bootstrap.sh
  modules/genomics_nextflow/scripts/build/nextflow.config
  modules/genomics_nextflow/variables.tf
Owners: @acolver, @agussman, @BrianReevz, @debakkerb, @guptamukul-google, @hradhakrishnan

Update .gitignore
  .gitignore
Owners: @GoogleCloudPlatform/gps-demos

Variablize Github Repo branch
  radlab-ui/automation/terraform/infrastructure/outputs.tf
  radlab-ui/automation/terraform/infrastructure/variables.tf
  radlab-ui/webapp/gen_local_config.sh
  radlab-ui/webapp/src/routes/Deploy.tsx
  radlab-ui/webapp/src/utils/api.ts
Owners: @debakkerb, @guptamukul-google, @hradhakrishnan, @acolver

Standardizing the Arch. Diagram name
  docs/images/V10_Genomics_Nextflow.png
  modules/genomics_nextflow/README.md
Owners: @acolver, @agussman, @BrianReevz, @debakkerb, @guptamukul-google, @hradhakrishnan

Enable GitHub actions on staging branch
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-test-deploy.yml
  .github/workflows/rlui-test.yml
Owners: @guptamukul-google

Adding NEXT_PUBLIC_GIT_BRANCH to .env
  radlab-ui/webapp/.env.development
  radlab-ui/webapp/.env.production
Owners: @acolver, @debakkerb, @guptamukul-google

Pausing automated trigger of tf plan github action until #95 is fixed
  .github/workflows/check-tf-plan.yml
Owners: @guptamukul-google

Update main.tf
  modules/NEON/main.tf
Owners: @debakkerb, @guptamukul-google

CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.

# The gps-demos team is the default owner for anything not
# explicitly taken by someone else.

*       @GoogleCloudPlatform/gps-demos

# Below are the owners if specific folders and its files 
# directory in the root of your repository and any of its
# subdirectories.

/.github/                       @guptamukul-google

/docs/                          @acolver @agussman @BrianReevz @debakkerb @guptamukul-google

/modules/                       @debakkerb @guptamukul-google @debakkerb

/radlab-ui/                     @acolver @debakkerb @guptamukul-google

/scripts/                       @guptamukul-google

/scripts/gcp-ai-notebook-tools/ @hradhakrishnan

/scripts/notebooks-playground/  @hradhakrishnan

/tools/                         @guptamukul-google

/.github/                       @guptamukul-google

# Below are the owners of individual file types

*.json   @guptamukul-google 

*.md    @acolver @agussman @BrianReevz @debakkerb @guptamukul-google @hradhakrishnan

*.py    @guptamukul-google

*.sh    @debakkerb @guptamukul-google @hradhakrishnan

*.tf    @debakkerb @guptamukul-google

*.txt   @guptamukul-google

*.yml   @guptamukul-google
